/* universal selectors & page styles */
:root {
    --main-bg-color: #ebebf5;
    --primary-color:#2f2f40;
    --secondary-color:#abe0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    color: var(--primary-color);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* default list style */
li {
     list-style: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 3px solid var(--primary-color);
    padding: 5px 10px;
}

/* Style header */
header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    background-color: var(--secondary-color);
    width: 300px;
    text-align: right;
    padding-right: 15px;
    
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 40px;
}

header nav ul li {
    padding: 10px;
}

header nav ul li a {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* style hero */
.hero {
    background-image: url(../images/hero-bg.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portrait {
    width: 225px;
    height: 245px;
    text-align: right;
    margin: 20px 0px 20px 65px;
    position: relative;
    right: 10px;
}

.portrait img {
    width: 100%;
    height: 100%;
}

.hero h2 {
    padding: 5px 10px;
    position: relative;
    top: 230px;
    right: 50px;
    background-color: var(--secondary-color);
    height: 40px;
    font-size: 22px;
}

/* style page content */
.section {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 40px;
    height: auto;
    justify-content: space-between;
}

/* style content headers on the left */
.section-header {
    flex: 1 20%;
    text-align: right;
    padding-right: 5px;
    border-right: 3px solid var(--primary-color);
}

h3 {
    font-size: 30px;
}

/* style content sections on the right */
.section-content {
    display: flex;
    flex-direction: column;
    flex: 4 80%;
    padding: 0 5px 0 30px;
}

/* style bio */
p {
    font-size:  14px;
}

/* style portfolio works */
.work-links {
    border-bottom: none;
    padding: 0;
}

.surf-report {
    background-image: linear-gradient(rgba(112, 128, 144, 0.4),rgba(112, 128, 144, 0.4)), url(../images/surf-report.jpg);
    border: 5px solid var(--secondary-color);
    background-size: cover;
    height: 200px;
}

.section-content ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    margin: 10px 0 10px 0;
    justify-content: space-between;
}

.section-content ul li {
    width: 49%;
    height: 50%;
    margin: 5px 0;
}

.text-box {
    background-color: var(--secondary-color);
    padding: 10px;
    display:inline-block;
    position: relative;
    top: 30%;
    right: 0.5%;
}

.surf-report .text-box {
    top: 66%;
}

h4 {
    font-weight: bolder;
}

.work-links p {
    font-size: 12px;
}

/* style work images */
.led-wall, 
.calculator, 
.pastel-puzzles, 
.run-buddy {
    border: 5px solid var(--secondary-color);
    background-size: cover;
    height: 100%;   
}

.led-wall {
    background-image: linear-gradient(rgba(112, 128, 144, 0.4),rgba(112, 128, 144, 0.4)), url(../images/LED-wall-red.jpeg);
}

.calculator {
    background-image: linear-gradient(rgba(112, 128, 144, 0.4),rgba(112, 128, 144, 0.4)), url(../images/web-calculator.jpg);
}

.pastel-puzzles {
    background-image: linear-gradient(rgba(112, 128, 144, 0.4),rgba(112, 128, 144, 0.4)), url(../images/web-pastel-puzzles.png);
}

.run-buddy {
    background-image: linear-gradient(rgba(112, 128, 144, 0.4),rgba(112, 128, 144, 0.4)), url(../images/crop-screen-runbuddy.png);
}


/* Work section Psuedo classes (higlight hover) */
.surf-report:hover {
    background-image: url(../images/surf-report.jpg);
}

.led-wall:hover {
    background-image: url(../images/LED-wall-red.jpeg);
}

.calculator:hover {
    background-image: url(../images/web-calculator.jpg);
}

.pastel-puzzles:hover {
    background-image: url(../images/web-pastel-puzzles.png);
}

.run-buddy:hover {
    background-image: url(../images/crop-screen-runbuddy.png);
}

/* Contact Section or Footer */
.footer-content {
    display: flex;
    flex-direction: column;
    flex: 4 80%;
}
.footer-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.footer-content ul li {
    margin: 20px;
}

